<!DOCTYPE html>
<html>

<head>
    <title>agar.io</title>
    <link rel="stylesheet" href="../static/css/chat.css">
    <script>
        const room = '{{room}}'
        const nickname = '{{nickname}}'
        const color = '{{color}}'
    </script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"
        integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
        crossorigin="anonymous"></script>
    <script src="../static/js/game.js" defer></script>
</head>

<body>
    <canvas id="canvas" width="800" height="600"></canvas>
</body>

</html>