body {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 80vh;
    padding: 5%;
}

.background {
    display: flex;
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}

.input-container {
    height: 50px;
    position: relative;
    width: 300px;
    top: 30%;
    left: 20%;
}


.input {
    background: url(../ico/edit.svg) no-repeat;
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    width: 100%;
    background-position: 95%;
    padding-left: 20px;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(6px) scale(0.5);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #dc2f55;
}

.edit_nick {
    background: url(../ico/edit.svg) no-repeat;
    height: 26px;
    width: 24px;
    background-color: white;
}

.btn {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-left: 30%;
    margin-top: 50px;
    text-align: center;
    width: 200px;
    display: block;
}

.btn:hover {
    background-color: rgb(61, 164, 248);
}

.btn:active {
    background-color: #06b;
}

.profile_image {
    left: 35%;
    top: 20%;
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-width: thick;
    border-color: #dc2f55;
    border-radius: 100%;
    border-style: solid;
    background-image: url(../ico/dog.svg);
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    position: relative;
  }

.input_profile_image {
    display: block;
    position: relative;
    top: 25%;
    left: 21%;
    color: #bbb;
}
.quit {
    align-items: baseline;
    justify-content: left;
    top: 70%;
    position: absolute;
    left: 15%;
    margin: 0%;
    background: url(../ico/exit.svg) no-repeat;
    width: 80px;
    height: 25px;
    color: #bbb;
    border-style: none;
}

.quit:hover {
    text-decoration: underline;
    cursor: pointer;
}

.submit {
    background-color: #15172b;
    color: #bbb;
    border-radius: 25px;
    border: thin solid #bbb;
    top: 70%;
    left:30%;
    position: absolute;
    visibility: hidden;
}